/* 
    Document   : style.css
    Created on : 05-Sep-2011, 21:08:10
    Author     : oliversmith
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#buffer {
    display: none;
}
